<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.id }}</td>
  </ng-container>
  <ng-container matColumnDef="stockName">
    <th mat-header-cell *matHeaderCellDef>Stock</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.stock.name }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.price }}</td>
  </ng-container>

  <ng-container matColumnDef="buyer">
    <th mat-header-cell *matHeaderCellDef>buyer</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.buyer }}</td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>quantity</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.quantity }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<app-order-form></app-order-form>
