<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let elemet">
      {{ elemet.id }}
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.name }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>price</th>
    <td mat-cell *matCellDef="let elemet">{{ elemet.price }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    (click)="onClick(row.id)"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>

<br />

<stock-chart [chartData]="chartData"></stock-chart>
